{% extends 'turgus/base.html.twig' %}

{% block heading %}
<ul>
    <li class="category-label">
        <input type="radio" name="category" id="sellings" {% if selected == 1 %} class="checked" {% endif %}>
        <label for="sellings"><a href="/turgus/1"><span class="fas fa-shopping-cart"></span>Pardavimai</a></label>
    </li>
    <li class="category-label">
        <input type="radio" name="category" id="auction" {% if selected == 2 %} class="checked" {% endif %}>
        <label for="auction"><a href="/turgus/2"><span class="fas fa-hammer"></span>Aukcionas</a></label>
    </li>
    <li class="category-label">
        <input type="radio" name="category" id="exchange" {% if selected == 3 %} class="checked" {% endif %}>
        <label for="exchange"><a href="/turgus/3"><span class="fas fa-hand-holding-usd"></span>Mainai</a></label>
    </li>
</ul>
{% endblock %}