{% extends 'turgus/base.html.twig' %}

{% block body %}
    <div class="overlay">
    </div>
    <div class="form-card"
        <h5>{{ msg }}</h5>
        <a href="{{ link }}">gerai</a>
    </div>
{% endblock %}