{% extends 'base.html.twig' %}

{% block body %}
{{ message }}
{% endblock %}

{% block sidenav %}
    {% if is_granted('ROLE_ADMIN') %}
        <a class="list-group-item" href="{{ path('admin_parduotuve') }}">E-parduotuvės valdymas</a>
    {% endif %}
    <a class="list-group-item" href="{{ path('admin_turgus') }}">E-turgaus valdymas</a>
    <a class="list-group-item" href="{{ path('admin_vartotojai') }}">Vartotojų valdymas</a>
{% endblock %}