{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Moderatorių valdymas</h5>
                    <a href="#" class="btn btn-light bg-primary btn-block">Priskirti naują moderatorių</a>
                    <a href="#" class="btn btn-light bg-primary btn-block">Šalinti moderatorių</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Vartotojų valdymas</h5>
                    <a href="#" class="btn btn-light bg-primary btn-block">Išaktyvuoti vartotoją</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Nusiskundimai</h5>
                    <a href="#" class="btn btn-light bg-primary btn-block">Peržiūrėti nusiskundimus</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidenav %}
    <a class="list-group-item" href="{{ path('admin_parduotuve') }}">E-parduotuvės valdymas</a>
    <a class="list-group-item" href="{{ path('admin_turgus') }}">E-turgaus valdymas</a>
    <a class="list-group-item active" href="{{ path('admin_vartotojai') }}">Vartotojų valdymas</a>
{% endblock %}