.navbar-primary .navbar-brand {
    color: #fff;
}

.navbar-primary .navbar-brand:hover, .navbar-primary .navbar-brand:focus {
    color: #fff;
}

.navbar-primary .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.75);
    font-weight: bold;
}

.navbar-primary .navbar-nav .nav-link:hover, .navbar-primary .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-primary .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.25);
}

.navbar-primary .nav-link.active {
    color: rgba(255, 255, 255, 1);
}

.navbar-primary .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-primary .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-primary .navbar-text {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-primary .navbar-text a {
    color: #fff;
}

.navbar-primary .navbar-text a:hover, .navbar-primary .navbar-text a:focus {
    color: #fff;
}