{% extends 'base.html.twig' %}

{% block title %}Skundai{% endblock %}

{% block body %}
    <div class="card-text" style="position: relative;">
        {% if complaints %}
            <table style="width: 100%;">
                <thead>
                <tr>
                    <th style="width: 25%">Skundžiamas narys:</th>
                    <th style="width: 10%">Būsena</th>
                    <th style="width: 40%">Skundas</th>
                    <th>Options</th>
                </tr>
                </thead>
                <tbody>
                {% for complaint in complaints %}
                    <tr>
                        <td>{{ complaint.fkGavejas.vardas }} {{ complaint.fkGavejas.pavarde }}</td>
                        <td>{{ complaint.fkBusena.pavadinimas }}</td>
                        <td>
                            {{ complaint.skundas }}
                        </td>
                        <td><a>Buttonas</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Nėra parašytų skundų!</p>
        {% endif %}
    </div>
{% endblock %}
