{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Adresas</th>
            <th>Veiksmai</th>
        </tr>
        </thead>
        <tbody>
        {% for sandelis in sandeliai %}
            <tr>
                <td>{{ sandelis.adresas }}</td>
                <td><a class="btn btn-primary btn-outline-primary" href="{{ path('sandelis') }}/{{ sandelis.id }}">Parodyti</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
