{% extends 'base.html.twig' %}

                {% block sidenav %}
                    <a class="list-group-item" href="{{ path('sandeliuprekes') }}">Parduotuvės prėkės</a>
                    {% if not is_granted("ROLE_ADMIN") %}
                    <a class="list-group-item" href="{{ path('sandelis') }}">Sandelis</a>
                    {% endif %}
                    {% if is_granted("ROLE_ADMIN") %}
                    <a class="list-group-item" href="{{ path('sandelis') }}">Sandeliai</a>
                    {% endif %}
                {% endblock %}